<!DOCTYPE html>
<html>
<head>

    <title>Quick Start - Leaflet</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico"/>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>

    <script src="/static/mustache.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
      integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
      crossorigin="anonymous"></script>

    <script src="/static/forms.js"></script>
    <script src="/static/models.js"></script>
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body {
            height: 100vh;
        }

        
        .map_container {
            
            height: calc(100% - 51px); 
        }

        #mapid {
            height: 100%;
            width: 100%;
        }   
        
        header.navbar {
            margin-bottom: 0px;
        }

        .settings_page {
            position: absolute;
            width: 100%;
            background: transparent;
            z-index: 3000;
        }

    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Expand at md</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item active">
                <a class="nav-link" data-bs-toggle="collapse" href="#nav-trackers-list" role="button" aria-expanded="false" aria-controls="nav-trackers-list">Devices</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#nav-add-tracker" role="button" aria-expanded="false" aria-controls="nav-add-tracker">Add device</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout" role="button">Logout</a>
              </li>
            </ul>
          </div>
        
        </div>
      </nav>

      <div class="collapse settings_page" id="nav-trackers-list">
        <div class="card container overflow-auto h-100">
            <div>
            <div class="card-header">
                <div class="container-fluid">
                <span class="text-start">
                    Trackers list
                </span>
                <span class="text-end">
                <button type="button" class="btn-close" aria-label="Close" data-bs-toggle="collapse" href="#nav-trackers-list" aria-expanded="false" aria-controls="#nav-trackers-list" ></button>
                </span>
                </div>
            </div>
            <div class="card-body">
                    <div class="accordion" id="tracker_list"> </div>
            </div>
            </div>
        </div>
        </div>
        <div class="collapse settings_page" id="nav-add-tracker" >
            <div class="card container overflow-auto h-100">
                <div class="card-header text-end">
                    <button type="button" class="btn-close" aria-label="Close" data-bs-toggle="collapse" href="#nav-add-tracker" aria-expanded="false" aria-controls="nav-add-tracker" ></button>
                </div>
                <div class="card-body">
                    <form action="/devices/add" method="post" id="add_device_form" class="needs-validation" novalidate>
                        <div class="mb-3 position-relative">
                            <label for="imeiInput" class="form-label">Imei</label>
                            <input type="text" class="form-control" id="imeiInput" placeholder="imei" name="imei" required>
                            <div class="invalid-tooltip"></div>
                        </div>
                        <div class="mb-3 position-relative">
                            <label for="nameInput" class="form-label">Name</label>
                            <input type="text" class="form-control" id="nameInput" placeholder="name" name="name" required>
                            <div class="invalid-tooltip"></div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Add device</button>
                        </div>
                    </form> 
                </div>
            </div>    
        </div> 
</div>
</header>

<div id="map_container" class="map_container">
    <div id="mapid"></div>
</div>

{% raw %}
<script id="trackers_list_entry_template" type="x-tmpl-mustache">
{{#trackers}}
<div class="accordion-item" >
    <h2 class="accordion-header" id="heading_{{imei}}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{imei}}" aria-expanded="true" aria-controls="collapse_{{imei}}">
            {{name}}
        </button>
      </h2>
      <div id="collapse_{{imei}}" class="accordion-collapse collapse" aria-labelledby="heading_{{imei}}" data-bs-parent="#tracker_list">
        <div class="accordion-body">
            <div class="row row-cols-auto mt-3"> 
                <div class="col-lg-6 justify-content-start"> 
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="{{imei}}_enabled" onChange="console.log(devicesModel)">
                        <label class="form-check-label" for="{{imei}}_enabled">Show on map</label>
                    </div>
                </div>
            </div>   
            <div class="row row-cols-auto mt-3">  
                <div class="col-lg-6 justify-content-start"> 
                    <div class="form-check">
                        <input type="color" class="form-control form-control-color" id="{{imei}}_color" onChange="console.log(devicesModel)">
                        <label class="form-check-label" for="{{imei}}_color">Color</label>
                    </div>
                </div>
            </div>
            <div class="row mt-3 justify-content-end"> 
                <div class="col-md-auto"> 
                    <button type="button" class="btn btn-danger btn-sm" id="remove_{{imei}}">Remove</button>
                </div>
            </div>
            <div class="row mt-3 justify-content-end"> 
                <div class="col-md-auto">
                    <button type="button" class="btn btn-secondary btn-sm" id="settings_{{imei}}">Settings</button>
                </div>
            </div> 
        </div>
      </div>
</div>
{{/trackers}}
</script>
{% endraw %}

<div id="settings" class="modal text-sm">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
        </div>
    </div>
  </div>

<script>
    var firstLoad = true;
    var imei = "{{ imei }}";
    var currentPosition = L.latLng(55.750996996, 37.617330864);
    var track = null;

    function renderDevices(data) {
        console.log(data);
        $("#trackers_list_spinner").addClass("d-none");
        let rendered = Mustache.render($('#trackers_list_entry_template')[0].innerHTML, { 'trackers': data });
        $('#tracker_list')[0].innerHTML = rendered;
    }

    var devicesModel = new Devices(renderDevices, function() {$("#trackers_list_spinner").removeClass("d-none");});

    
	var mymap = L.map('mapid').setView([55.750996996, 37.617330864], 13);

    var baseLayers = {
        'OSM': L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
        }),

        //2gis:
        '2GIS': L.tileLayer('http://tile2.maps.2gis.com/tiles?x={x}&y={y}&z={z}'),

        //Google Map Streets:
        'GoogleMap': L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {subdomains:['mt0','mt1','mt2','mt3']}),

        //Google Map Terrain:
        'GoogleMapTerrain': L.tileLayer('http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}', {subdomains:['mt0','mt1','mt2','mt3']}),

        //Google Map Hybrid:
        'GoogleMapHybrid': L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {subdomains:['mt0','mt1','mt2','mt3']}),

        //Google Map Satellite:
        'GoogleMapSattelite': L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {subdomains:['mt0','mt1','mt2','mt3']}).addTo(mymap),
    };

    L.control.layers(baseLayers, {}).addTo(mymap);

    L.easyButton('fa fa-crosshairs', function(btn, map){
            if (currentPosition != null) {
                mymap.panTo(currentPosition,13);
            }
    }).addTo( mymap );

    var modal = new bootstrap.Modal($('#settings')[0]);  

    L.easyButton('fa fa-bars', function(btn, map){
            modal.show();
    }).addTo( mymap );
    
    var marker = new L.Marker(currentPosition);
    marker.addTo(mymap);

    function onLocationFound(e) {
        var radius = e.accuracy;
        L.circle(e.latlng, radius).addTo(mymap);
    }


    //mymap.on('locationfound', onLocationFound);

    function updateWaypoints() {
        $.ajax({
            url: '/'+imei+'/coordinates',
            success: function(data) {
                if (data.length > 0) {
                    var newPosition = L.latLng(data[0][0], data[0][1]);

                    if (firstLoad) {
                        //mymap.flyTo(newPosition);
                        mymap.panTo(newPosition,13);
                        firstLoad=false;
                    }
                    
                    if (currentPosition != newPosition) {
                        currentPosition = newPosition;
                        marker.setLatLng(newPosition);

                        if (track != null) {
                            mymap.removeLayer(track);
                        }

                        track = L.polyline(data, {color: 'red'});
                        mymap.addLayer(track);
                    }

                    mymap.locate({setView: false, maxZoom: 16});
                }            
            }
        });
    }

    setInterval(updateWaypoints, 1000);
    
    devicesModel.reload();

    $('#trackers_list_refresh').on('click', function() { devicesModel.reload() });
    new AjaxForm( $("#add_device_form"), function (data, onSuccess, onFail){ devicesModel.add(data, onSuccess, onFail) }).init();

    let pages = {};
    $(".settings_page").each( function() { 
        pages[this.id] = new bootstrap.Collapse(this, {toggle: false});
    });

    let navbarCollapse = new bootstrap.Collapse($("#navbarsExample04")[0],{toggle: false}); 

    function onPageShow(event) {
        let target = event.target;
        let id = target.id;
        
        if (!pages[id]) {
            return;
        }

        for (let i in pages) {
            if (id != i) {
                pages[i].hide();
            }
        }

        $('.settings_page').css("height", $("#map_container").height()+"px"); 

      //  $("#map_container").addClass("d-none");
    }

    $(".settings_page").on('show.bs.collapse', () => navbarCollapse.hide());
    $(".settings_page").on('hidden.bs.collapse', (e) => pages[e.target.id] && $("#map_container").removeClass("d-none") );
    $(".settings_page").on('shown.bs.collapse', onPageShow);
    $('.settings_page').bind('click dblclick mouseover mouseout scroll',function(e){ e.stopPropagation();});
    
    $('#map_container').css("height","calc(100% - "+$("header").height()+"px)"); 

</script>


</body>
</html>