<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="bokolob">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
            integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
            crossorigin="anonymous"></script>
    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/forms.js"></script>
    <title>Login</title>
    <style>
            #intro-header {
                 background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  background-size: cover;
                  -o-background-size: cover;
                  height:100vh;
                  padding-top: 65px;
                }
            .card {
                background-color: rgba(0,0,0,0.5) !important;
            }

            .navbar {
  display: flex;
  justify-content: space-between;
}

    </style>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-white fixed-top bg-white">
    <div class="list-inline bg-white">
        <a class="p-2 list-inline-item text-dark" href="#about">About</a>
        <a class="p-2 list-inline-item text-dark" href="#pricing">Pricing</a>
        <a class="p-2 list-inline-item text-dark" href="#contact">Support</a>
    </div>
</nav>
<div class="d-flex flex-column justify-content-center flex-grow-1 flex-fill" id="intro-header">
    <div class="container">
        <div class="row vh-100 justify-content-center">
            <div class="col-md-auto align-self-center">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#sign_in_tab" role="tab" aria-controls="sign_in_tab" aria-selected="true">Sign In</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#sign_up_tab" role="tab" aria-controls="sign_up_tab" aria-selected="false">Sign Up</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane show active" id="sign_in_tab" role="tabpanel" aria-labelledby="home-tab">
                        <div class="card text-white" >
                            <div class="card-body">
                                <form action="/auth" method="post" id="sign_in_form">
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email address!</label>
                                        <input type="email" class="form-control" placeholder="email" id="email" name="email" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" class="form-control" placeholder="password" id="password" name="password" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Login" class="btn btn-light float-right">
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-center">
                                    <a href="#">Forgot your password?</a>
                                </div>
                            </div>
                        </div>
                    </div>   

                    <div class="tab-pane" id="sign_up_tab" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="card text-white">
                            <div class="card-body">
                                <form action="/signup" method="post" id="sign_up_form" class="needs-validation" novalidate>
                                    <div class="mb-3">
                                        <label for="imei" class="form-label">Imei</label>
                                        <input type="text" class="form-control" placeholder="imei" id="imei" name="imei" required>
                                        <div class="invalid-tooltip"></div>
                                    </div
                                    ><div class="mb-3">
                                        <label for="email2" class="form-label">Email address</label>
                                        <input type="email" class="form-control" placeholder="email" id="email2" name="email" required>
                                        <div class="invalid-tooltip"></div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="password2" class="form-label">Password</label>
                                        <input type="password" class="form-control" placeholder="password" id="password2" name="password" required>
                                        <div class="invalid-tooltip"></div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="password2r" class="form-label">Repeat</label>
                                        <input type="password" class="form-control" placeholder="password" id="password2r" name="password_confirm" required>
                                        <div class="invalid-tooltip"></div>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Login" class="btn btn-light float-right">
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<section id="about">
    <h1 class="text-center">Company name</h1>
</section>
<script>
  
  function serializeFormToJson(form) {
    let a = form.serializeArray();
    let o = {};

    a.forEach(pair => {
        o[pair['name']] = pair['value'];
    });    

    return JSON.stringify(o);
  }

  $("form").submit(function(e) {
                        e.preventDefault(); // avoid to execute the actual submit of the form.

                        var form = $(this);
                        var url = form.attr('action');

                        if (!form[0].checkValidity()) {
                             e.preventDefault();
                             e.stopPropagation();
                             form[0].classList.add('was-validated');
                             return false;
                        }

                        form[0].classList.add('was-validated');
                        
                        $.ajax({
                            type: "POST",
                            url: url,
                            dataType: 'json',
                            data: serializeFormToJson( form ), // serializes the form's elements.
                            contentType: 'application/json;charset=UTF-8',
                            success: function(data)
                            {
                                console.log(data); // show response from the php script.
                                if (data.redirect) {
                                    window.location.href = data.redirect;
                                }
                            }
                            });

                        return false;
    });
    

</script>
</body>
</html>